.circle-container{
display: flex;
// margin-top: 3rem;
justify-content: center;
.outer-circle{
    // background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24rem;
    width: 24rem;
    border: 0.2rem solid var(--accent-color) ;
    border-radius: 50rem;
    position: relative;

    .inner-circle{
        // background-color: greenyellow;
        height: 20rem;
        width: 20rem;
        border:0.3rem solid var(--accent-color);
        border-radius: 40rem;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            max-inline-size: 100%;
            block-size: auto;
            height: 17rem;
            z-index: 100;
        }
    }
    .lines{
        display: flex;
        gap:3rem;
        position: absolute;
        .line{
            height: 28rem;
            width: 0.3rem;
            background-color: var(--accent-color);
            transform: rotate(45deg);
        }
    }
}
}
$breakpoint-tablet: 1000px;
$breakpoint-mobile: 600px;

@media (max-width: $breakpoint-tablet) {
    .circle-container{
        display: flex;
        margin-top: -29rem;
        justify-content: center;

    }
   .circle-container .outer-circle{
        
        height: 15rem;
        width: 15rem;
     
    
        
  
}
.circle-container .outer-circle .inner-circle{
    // background-color: greenyellow;
    height: 12rem;
    width: 12rem;
    
}
.circle-container .outer-circle .inner-circle img{
    height: 10rem;
}
.circle-container .outer-circle .lines .line{
  
 
        height: 20rem;
     
    
}
}

@media (max-width: $breakpoint-mobile) {
    .circle-container{
        display: flex;
        margin-top: -30rem;
        justify-content: center;

    }
   .circle-container .outer-circle{
        
        height: 15rem;
        width: 15rem;
     
    
        
  
}
.circle-container .outer-circle .inner-circle{
    // background-color: greenyellow;
    height: 12rem;
    width: 12rem;
    
}
.circle-container .outer-circle .inner-circle img{
    height: 10rem;
}
.circle-container .outer-circle .lines .line{
  
 
        height: 20rem;
     
    
}
}
