.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  color: white;
}

.profile-text {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.profile h4 {
  width: 60%;
  text-transform: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  letter-spacing: normal;
  font-weight: 400;
}

.profile-image {
  height: 15rem;
  border-radius: 50%;
  border: 0.2rem solid var(--accent-color);
  padding: 1rem;
  transition: 0.3s ease-in;
}

.profile-links {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.profile-links a {
  color: var(--accent-color);
}

.profile-links a svg {
  font-size: 2rem;
}

@media (max-width: 600px) {
  .profile {
    margin-top: 5rem;
  }
  .profile h1 {
    font-size: 30px;
    width: 100%;
    text-align: center;
  }
  .profile h2 {
    font-size: 20px;
    text-align: center;
  }
  .profile h4 {
    width: 100%;
  }
}
