.capable-moves{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    .capable-moves-title{
        color: white;
        text-transform: uppercase;
        padding: 1rem;
        letter-spacing: 0.1rem;
    }
   .capable-moves-list{
    list-style: none;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 150px;
    gap:1rem;
    padding: 1rem;
    width: 100%;
    overflow-y: scroll;
    // height:80vh;
    .move{
        padding: 2rem;
        height: 100%;
        font-size: x-large;
        background-color: rgba(255,255,255,0.125);
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        cursor: pointer;
        align-items: center;
    }

   }
.ability{
    .move{
        background-color: var(--accent-color);
    }
}
}
$breakpoint-tablet: 1000px;
  $breakpoint-mobile: 600px;
  
  @media (max-width: $breakpoint-tablet) {
    .capable-moves  .capable-moves-list{
      
        grid-template-columns:repeat(2,1fr);
       
        overflow-y: scroll;
        
    }
    .capable-moves  .capable-moves-list .move{
      
        font-size: 20px;
    }
    
  }
  
  @media (max-width: $breakpoint-mobile) {
    .capable-moves  .capable-moves-list{
      
        grid-template-columns:1fr;
       
        overflow-y: scroll;
        
    }
  }